In [15]:
import pandas as pd
import numpy as np

data = pd.read_csv("./predictions.csv", parse_dates=["month"])

for i in data.index:
    if pd.isna(data.at[i, "current"]):
        prediction = data.at[i, "prediction"]
        data.at[i, "lower"] = prediction - 3 / np.sqrt(2)
        data.at[i, "upper"] = prediction + 3 / np.sqrt(2)

data.to_csv("./predictions.csv", index=False)
data

        month    average    current  prediction      lower      upper
0  2023-01-01  27.652581  27.587097         NaN        NaN        NaN
1  2023-02-01  27.256501  27.692857         NaN        NaN        NaN
2  2023-03-01  24.443333  25.512903         NaN        NaN        NaN
3  2023-04-01  19.936111  19.596667         NaN        NaN        NaN
4  2023-05-01  15.348977  14.970968         NaN        NaN        NaN
5  2023-06-01  12.172636  13.082759         NaN        NaN        NaN
6  2023-08-01  12.873333  15.735484         NaN        NaN        NaN
7  2023-09-01  15.885000  20.115789   20.115789  20.115789  20.115789
8  2023-10-01  19.352258        NaN   22.900286  20.778966  25.021607
9  2023-11-01  22.653111        NaN   26.281089  24.159769  28.402409
10 2023-12-01  25.923763        NaN   29.402978  27.281658  31.524299
11 2024-01-01  27.652581        NaN   31.681893  29.560572  33.803213
12 2024-02-01  27.256501        NaN   29.936694  27.815373  32.058014